.repositories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.div {
  width: 400px;
  min-height: 100px;
  margin: 5px;
  background-color: #23bb8a82;
  border-radius: 2%;
}

h2 {
  font-family: 'Montserrat', Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #192f3a;
}

a {
  text-decoration: none;
  background-color: transparent;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #28749a;
  display: block;
  margin: 0 auto;
  width: 60px;
}

.nav-bar {
  background: linear-gradient(-90deg, #48a5875e, #16C0B0);
  height: 60px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-left: 10px;
}